// ----------------------------
// VARIABLES
// ----------------------------
$maincolor: rgb(52, 2, 2);
$contrastcolor: rgb(242, 145, 9);

@mixin white-text-black-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-text-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

// -----------------------------
// Header
// -----------------------------

nav {
    @include white-text-black-bg;
    display: flex;
    justify-content: flex-start;
}

body {
  background-color: rgb(237, 142, 10);
}

img{
  width: 500px;
  height: 300px;
  display: block;
  justify-content: center;
  background-color: #340bb8;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align:center;
}